<div class="container">
  <p-card header="CourseChoice" subheader="Керуй своїм навчанням"
          [style]="{ width: '100%', backgroundColor: 'inherit', border: 'none', boxShadow: 'none' }">
    <ng-template pTemplate="header">
      <div class="bg-image"></div>
    </ng-template>
    <p>
      <b>Вітаємо вас! CourseChoice - ваш віртуальний помічник у виборі курсів і побудові навчального плану!</b>
    </p>
    <p>
      У нашому додатку ви знайдете великий вибір курсів з різних галузей знань та зможете скласти ідеальний для вас
      навчальний план.
      Тут ви знайдете інформацію про курси, методичні матеріали та результати поточного контролю.
    </p>
    <p>
      Для початку використовуйте фільтри для пошуку курсів за тематикою, викладачем, рівнем складності та іншими
      параметрами.
      Зберігайте свої улюблені курси та отримуйте оновлення про нові можливості у навчанні.
    </p>
    <p>
      Якщо у вас є будь-які запитання або пропозиції, звертайтеся до нашої служби підтримки за адресою
      support@coursechoice.com.
    </p>
    <p>
      Приєднуйтесь до нашої спільноти у соціальних мережах, щоб бути в курсі останніх новин і оновлень.
    </p>
    <p>
      <b>Бажаємо успіху у навчанні та досягнення всіх ваших цілей!</b>
    </p>
  </p-card>
</div>





