<p-card header="Забули пароль?" [style]="{ width: '360px', margin: '200px auto'}">
  <form class="p-fluid" (ngSubmit)="forgotPassword()" [formGroup]="loginForm">
    <div class="p-field field">
      <label for="email">Електронна пошта</label>
      <input formControlName="email" type="email" [(ngModel)]="email" name="email" id="email" class="p-inputtext"
             required>
    </div>

    <p-button label="Відправити" type="submit" [disabled]="!loginForm.valid"></p-button>
  </form>

  <ng-template pTemplate="footer">
    <div class="register-link">
      <div><a href="/login" style="text-decoration: none">Повернутися до авторизації</a></div>
    </div>
  </ng-template>
</p-card>


